{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">

    Upload Resume

</h1>

<form method="POST" enctype="multipart/form-data">

    <input type="file" name="resume" class="form-control" accept=".pdf,.docx" required>

    <button class="btn btn-primary mt-3" type="submit">
        Upload Resume
    </button>

</form>

{% if success %}

<div class="alert alert-success mt-4">

    Resume uploaded successfully.

</div>

{% endif %}

{% if error %}

<div class="alert alert-danger mt-4">

    {{ error }}

</div>

{% endif %}

{% if resume_text %}

<div class="card mt-4">

    <div class="card-body">

        <h4>

            Extracted Resume Text

        </h4>

        <hr>

        <pre>{{ resume_text }}</pre>

    </div>

</div>

{% endif %}

{% if detected_skills %}

<div class="card mt-4">

    <div class="card-body">

        <h4>

            Detected Skills

        </h4>

        <hr>

        <ul>

            {% for skill in detected_skills %}

            <li>{{ skill }}</li>

            {% endfor %}

        </ul>

    </div>

</div>

{% endif %}

{% if generated_questions %}

<div class="card mt-4">

    <div class="card-body">

        <h4>

            Generated Interview Questions

        </h4>

        <hr>

        <ol>

            {% for question in generated_questions %}

            <li>{{ question }}</li>

            {% endfor %}

        </ol>

    </div>

</div>

{% endif %}

{% endblock %}